{% extends "base.html" %}

{% load static %}
{% block title %}Published Pages - Launchpad{% endblock %}

{% block content %}

<main class="relative mx-auto flex max-w-6xl flex-1 flex-col px-4 py-12">
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 mx-auto">
    {% for page in pages %}
      <a href="{% url 'page_detail' user_profile.username page.slug %}" class="block h-[280px] ">
        <div class="border border-slate-800 bg-slate-900/40 rounded-lg p-4 h-full hover:shadow-md shadow-blue-500/40">
          <img src="{% static 'jpeg' %}{% cycle '1' '2' '3' '4' '5' '6' '7' '8' '9' %}.jpeg" 
               alt="{{ page.title }}" 
               class="w-full h-40 object-cover rounded-t-lg border border-slate-700" />
          <h2 class="text-blue-400 text-xl font-bold mt-2">{{ page.title|truncatechars:25}}</h2>
          <p class="text-slate-400 text-sm mt-1">Created at: {{ page.created_at}}</p>
        </div>
      </a>
    {% empty %}
    <div class="text-center w-[80vw]">

        <img src="{% static 'no-pages.svg' %}" alt="No Pages" class="mx-auto h-70" />
         <p class="text-slate-500 text-center col-span-full mt-6">No published pages of Authur.</p>

    </div>
    {% endfor %}
  </div> 
</main>

{% endblock %}
